<div class="app-container">
  <nav class="flex">
    <div>
      <h3>Welcome back, {{user}}</h3>
    </div>
    <div id="menuToggle">
      <input type="checkbox"  [(ngModel)]="isHamburgerOpen"/>
  
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu" [ngClass]="{open: isHamburgerOpen}">
          <li *ngFor="let item of navItems" (click)="onNavItemClick(item.link)">{{ item.name }}</li>
      </ul>
    </div>
    <ul class="desktop-navlinks">
      <a class="nav-link" routerLink="/works"
        ><li><h3>Portfolio</h3></li></a
      >
      <a class="nav-link" routerLink="/manage"
        ><li><h3>Manage Portfolio</h3></li></a
      >
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
